*
!.gitignore
!.github/
!.github/workflows/
!.github/workflows/ci.yml
!CMakeLists.txt
!examples/options.cxx
!readme.md
!lib/
!lib/h.h
!lib/h.cxx
!tests/
!tests/CMakeLists.txt
!tests/test.cxx
!bench/
!bench/CMakeLists.txt
!bench/bench.cxx